<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret" ></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="index.html">Introduction</a>
      </li>
      <li>
        <a href="background.html">Background</a>
      </li>
      <li>
        <a href="background.html#security-labeling-faq">Security Labeling FAQ</a>
      </li>
      <li>
        <a href="background.html#use-cases">Use-Cases</a>
      </li>
      <li>
        <a href="concept.html">Security Labeling Conceptual Structure</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Specification<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="spec.html">Detailed Specification</a>
      </li>
      <li>
        <a href="inline.html">Inline Security Labels</a>
      </li>
      <li>
        <a href="security.html">Security and Privacy Considerations</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Artifact Index <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <a href="artifacts.html#structures-extension-definitions">Structures: Extension Definitions</a>
      </li>
      <li>
        <a href="artifacts.html#terminology-value-sets">Terminology: Value Sets</a>
      </li>
      <li>
        <a href="artifacts.html#example-example-instances">Example: Example Instances</a>
      </li>
    </ul>
  </li>
  <li><a href="glossary.html">Glossary</a></li>
  <li><a href="downloads.html">Downloads</a></li>
</ul>      
